body {
	
	color: black; 
	font-family: Verdana,Arial,Helvetica; 
	font-size: 10pt;
	

}
H1 { 
	font-size: 14pt;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica;
	color: #000000;
}
H2 { 
	font-size: 12pt;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica;
	color: #000000;
	border-bottom: 1pt solid #555;
}

H3 {
	font-size: 11pt;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica;
	color: #000000;
	padding-left: 1em;

}

H4 {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	font-family: Verdana,Arial,Helvetica;
	padding-left: 1em;
}


P, TD {
	font-family: Verdana,Arial,Helvetica;
	font-size: 10pt;
	padding-left: 1em;
	padding-right: 1em;
}


table {	
	
		
	border-style:solid;
	border-width:1pt;
	border-color:#999999;
	color:#111111;
	padding:5px;
	
	margin: 2em;
	width: 700px;
	background-color: #FFFFEE;

}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}.planned {
	color: #CC3366;
}

pre.code {
	background-color: #FFFFEE;
	white-space:pre;
	border-style:solid;
	border-width:1pt;
	border-color:#999999;
	color:#111111;
	padding:5px;	
	margin: 2em;
	width: 700px;
}


.note {
	padding-left: 1em;
	padding-right: 1em;
	border: 1pt solid #555;
	background: #33FFCC;
}
