body {
	font-family: Arial, Helvetica, sans-serif;
	

}
table {
	border: 1px solid #000000;
	width: 700px;
	margin: 10px;
	padding: 10px;

}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}.planned {
	color: #CC3366;
}
