<html>
<h1>Balance Sheet: $year$ </h1>
<table width="500" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="46%">ASSETS</td>
    <td width="27%">Total</td>
    <td width="27%">YTD Changes</td>
  </tr>
  <tr> 
    <td>Operating Funds</td>
    <td><div align="right">$total.operatingFunds$</div></td>
    <td><div align="right">$ytd.operatingFunds$</div></td>
  </tr>
  <tr> 
    <td>Track</td>
    <td><div align="right">$total.track$</div></td>
    <td><div align="right">$ytd.track$</div></td>
  </tr>
  <tr> 
    <td>Stations</td>
    <td><div align="right">$total.stations$</div></td>
    <td><div align="right">$ytd.stations$</div></td>
  </tr>  
  <tr> 
    <td>Rolling Stock</td>
    <td><div align="right">$total.rollingStock$</div></td>
    <td><div align="right">$ytd.rollingStock$</div></td>
  </tr>
  <tr> 
    <td>Industries</td>
    <td><div align="right">$total.industries$</div></td>
    <td><div align="right">$ytd.industries$</div></td>
  </tr>
   <tr> 
    <td>Treasury Stock</td>
    <td><div align="right">$total.treasuryStock$</div></td>
    <td><div align="right">$ytd.treasuryStock$</div></td>
  </tr>
   <tr> 
    <td>Other RR Stock</td>
    <td><div align="right">$total.otherRrStock$</div></td>
    <td><div align="right">$ytd.otherRrStock$</div></td>
  </tr>
  
  <tr> 
    <td>LIABILITIES</td>
    <td><div align="right"></div></td>
    <td><div align="right"></div></td>
	
  </tr>
  <tr> 
    <td>Outstanding Loans</td>
    <td><div align="right">$total.loans$</div></td>
    <td><div align="right">$ytd.loans$</div></td>
  </tr>
  <tr> 
    <td>Stockholders Equity</td>
    <td><div align="right">$total.equity$</div></td>
    <td><div align="right">$ytd.equity$</div></td>
  </tr>
  
  <tr> 
    <td>PROFIT</td>
    <td><div align="right">$total.profit$</div></td>
    <td><div align="right">$ytd.profit$</div></td>
  </tr>
</table>
</html>