<html>
<h1>Balance Sheet: $year$ </h1>
<table width="500" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="46%">ASSETS</td>
    <td width="27%">Total</td>
    <td width="27%">YTD Changes</td>
  </tr>
  <tr> 
    <td>Operating Funds</td>
    <td><div align="right">$operatingFundsTotal$</div></td>
    <td><div align="right">$operatingFundsYtd$</div></td>
  </tr>
  <tr> 
    <td>Track</td>
    <td><div align="right">$trackTotal$</div></td>
    <td><div align="right">$trackYtd$</div></td>
  </tr>
  <tr> 
    <td>Stations</td>
    <td><div align="right">$stationsTotal$</div></td>
    <td><div align="right">$stationsYtd$</div></td>
  </tr>  
  <tr> 
    <td>Rolling Stock</td>
    <td><div align="right">$rollingStockTotal$</div></td>
    <td><div align="right">$rollingStockYtd$</div></td>
  </tr>
  <tr> 
    <td>Industries</td>
    <td><div align="right">$industriesTotal$</div></td>
    <td><div align="right">$industriesYtd$</div></td>
  </tr>
  
  <tr> 
    <td>LIABILITIES</td>
    <td><div align="right"></div></td>
    <td><div align="right"></div></td>
	
  </tr>
  <tr> 
    <td>Outstanding Loans</td>
    <td><div align="right">$loansTotal$</div></td>
    <td><div align="right">$loansYtd$</div></td>
  </tr>
  <tr> 
    <td>Stockholders Equity</td>
    <td><div align="right">$equityTotal$</div></td>
    <td><div align="right">$equityYtd$</div></td>
  </tr>
  
  <tr> 
    <td>PROFIT</td>
    <td><div align="right">$profitTotal$</div></td>
    <td><div align="right">$profitYtd$</div></td>
  </tr>
</table>
</html>