
    <div  align="Center"><span align="center">$playername$</span>
     <table align="left">
       <tr>
        <td><div align="left">$netWorth$</div></td>
        <td><div align="left">NetWorth</div></td>
        <td colspan="2"><div align="right">Stock at $pricePerShare$ per Share</div></td>
       </tr>
       <tr>
        <td><div align="left">$cash$</div></td>
        <td><div align="left">Cash</div></td>
        <td><div align="right">public</div></td>
        <td><div align="right"> $publicShares$</div></td>
       </tr>
       <tr> 
        <td><div align="left">$loansTotal$</div></td>
        <td><div align="Left">Loans</div></td>
        <td><div align="right">Treasury</div></td>
        <td><div align="right">$treasuryStock$</div></td>
       </tr>
        $othersRRsStockTable$
      </table>
    </div>
