<html>
<h3>On the map view</h3>
<table >
<tr>
    <td>Build Track</td>
    <td>Mouse or number pad with Num Lock down</td>
  </tr>
  <tr>
    <td>Build Station</td>
    <td>'F8' (on existing track)</td>
  </tr>
  <tr>
    <td>Build Train</td>
    <td>'F7' (after building a station)</td>
  </tr>
 <tr>
    <td>Terrain Info</td>
    <td>'I'</td>
  </tr>
 <tr>
    <td>Undo build track</td>
    <td>backspace</td>
  </tr>
  
  </table>
  
<h3>On the train orders screen</h3>
  <table>
  <tr>
    <td>Goto Station</td>
    <td>'G'</td>
  </tr>
  <tr>
    <td>Change station</td>
    <td>'S'</td>
  </tr>
   <tr>
    <td>Change consist</td>
    <td>'C'</td>
  </tr>
</table>
</html>