<strong>$playername$</strong>
<table width="500">
    <tr>
        <td>$netWorth$</td>
        <td>NetWorth</td>
        <td colspan="2">Stock at $pricePerShare$ per Share</td>
    </tr>
    <tr>
        <td width="25%">$cash$</td>
        <td width="25%">Cash</td>
        <td width="25%">public</td>
        <td width="25%"> $publicShares$</td>
    </tr>
    <tr>
        <td>$loansTotal$</td>
        <td>Loans</td>
        <td>Treasury</td>
        <td>$treasuryStock$</td>
    </tr>

    $othersRRsStockRows$
</table>
   
