<html>
<table width="500">
    <tr>
        <td>
            <h3>How to play</h3>
            <p>(1) Look at what different tiles supply and demand by moving the cursor around and pressing 'I'.</p>
            <p>(2) Pick two cities that each have at least 2 city or 4 village tiles. Ideally,
                the cities should be 10-20 tiles apart.</p>
            <p>(3) Build track between the cities (by using the number pad keys with num lock on
                or by dragging the mouse).</p>
            <p>(4) Build stations at each of the cities (press F8). Make sure the station radius
                surrounds most of the city tiles.</p>
            <p>(5) Build a train (press F7). Don't add any wagons (they will be selected automatically).</p>
        </td>
    </tr>
</table>
</html>
