.header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
}
    .header h1 {
        font-size: 300%;
        font-weight: 100;
        margin: 0;
    }
     .header h2 {
        font-size: 125%;
        font-weight: 100;
        line-height: 1.5;
        margin: 0;
        color: #666;
        letter-spacing: -0.02em;
    }

.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}

    .content .content-subhead {
        margin: 2em 0 1em 0;
        font-weight: 300;
        color: #888;
        position: relative;
    }
	
.footer {
    font-size: 87.5%;
    border-top: 1px solid #eee;
    margin-top: 3.4286em;
    padding: 1.1429em;
    background: rgb(250, 250, 250);
}	

img.center {
    display: block;
    margin: 0 auto;
}