<html>
<h2>About Railz v0.3.2</h2>
<h4>Bug Reports and Feature Requests</h4>
<p>To submit bug reports or request new features, visit our bug tracker at<br>
http://www.railz.org/bugzilla/</p>
<p>For more infomation, visit http://developer.berlios.de/projects/railz/</p>
<h4>Help Wanted!</h4>
<p>Patches and artwork gratefully received! Send them to the mailing list at<br>
railz-interest@lists.berlios.de. I'm also looking for a developer to work on<br>
the GUI Client.</p>
<h4>Contributors:</h4>
<ul><li>Luke Lindsay</li>
<li>Samuel Benzaquen</li>
<li>Jon Lund Steffensen</li>
<li>Karl-Heinz Pennemann</li>
<li>Scott Bennett</li>
<li>Robert Tuck</li>
<li>Christoph Burghardt</li>
</ul>
</html>
